* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri, cursive;
  font-weight: bold;

}

html{
  min-width: 100%;
}

html, body, #root {
  height: 100% !important;
}

.App {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("../public/img/space3.png");
}

.App > div{
  width: 100%;
}

.header {
  text-align: center;
  font-family: Arial;
  font-size: 5rem;
  color: #1278BF;
  text-shadow: 3px 3px 3px #edf5ff;
  z-index: 2;
  margin-left: -6rem;
  height: 330px;
  padding-top: 15px;
  background: rgba(223, 188, 255, 0.5) ;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.header h1 {
  text-align: center;
  font-family: Arial;
  font-size: 5rem;
  COLOR: #1278BF;
  /* text-shadow: 0px 0px 9px #508AD3; */
  display: inline-block;
  position: absolute;
  line-height: 5rem;
  top: -1rem;
  left: 50%;
}

.header .imagen {
  display: inline;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  width: 300px;
  height: 300px;
  border: 5px solid white;
}


.header h1::before {
  content: "#Quotes";
  display: block;
  position: relative;
  top: 14rem;
  right: -5rem;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 3px #000000;
  /* transform: rotate(-30deg); */
  z-index: 0;
  opacity: 0.6;
}



div.buttons-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  padding: 15px;
}

div.button-container {
  z-index: 0;
  width: 280px;
  height: 280px;
  margin: 15px;
}

a.button {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #ffe5e5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background: rgb(93, 0, 255);
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  margin: -74px 0 0 -75px;
  border-radius: 50%;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.5), inset 0 15px 20px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.75), 0 10px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: -3px 5px 0 0;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;
}

a.button::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -5;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(0, 170, 255);
  top: -15px;
  left: -15px;
  box-shadow: inset 0 7px 15px rgba(255, 255, 255, 0.5), inset 0 -7px 15px rgba(0, 0, 0, 0.5);
}


a.newAudio p::after {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 0;
  top: -10px;
  left: 150px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-image: url("../public/img/saturn.png");
  background-size: cover;
  animation-name: flipflap;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

a.newAudio p::before {
  content: "New";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 0px;
  left: 150px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-size: cover;
}


a.button:active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  color: #ffeded;
}

a.button>p {
  width: 70%;
  font-style: italic;
}

@keyframes flipflap {
  50% {transform: rotate(-90deg)}
  100% {transform: rotate(0deg)}
}